<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Based on the:
     view-source:https://v4-alpha.getbootstrap.com/examples/sticky-footer-navbar/ -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/favicon.ico}">

    <title>Gennoe</title>

    <!-- Bootstrap CSS -->
    <link th:href="@{/webjars/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css}" rel="stylesheet"
             href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
             integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/sticky-footer-navbar.css}" rel="stylesheet">
</head>
<body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Gennoe</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Text generation<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mapgen">Map generation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <!-- SEARCH THING IF NEEDED...
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>

    <!-- Begin page content -->
    <div class="container">
        <div class="mt-3">
            <h1 th:text="${@environment.getProperty('gennoeweb.application.name')}">Hello</h1>
        </div>
        <p class="lead" th:text="${@environment.getProperty('gennoeweb.application.description')}">Generate anything.</p>
        <p th:text="${welcome}">Some welcome text here</p>.

        <!-- TODO: Form with buttons: Letters, Digits, Special -->
        <!-- TODO: Lookup forms in Bootstrap -->
        <form>
            <!-- TODO: consider removing dots next to li tags -->
            <ul >
                <!-- TODO: Add internationalization -->
                <!-- TODO: Consider reworking into ul/li tags as menu bar is done -->
                <li>
                    <input type="checkbox" value="digits" placeholder="qwe">
                    <span th:text="digits">Digits (1234567890)</span>
                </li>
                <li>
                    <input type="checkbox" value="small_letters">
                    <span th:text="small_letters">Small letters</span>
                </li>

                <li>
                    <input type="checkbox" value="big_letters">
                    <span th:text="big_letters">BIG LETTERS</span>
                </li>

                <li>
                    <input type="checkbox" value="special" th:text="special_characters"/>
                    <span th:text="special_characters">SPECIAL CHARACTERS</span>
                </li>
            </ul>

            <!-- TODO: Rework it into button without submitting -->
            <input type="submit" value="Send" /><br/>
        </form>
        <p>Result of random code (Thymeleaf):
            <div>
                <p th:text="${result}" >RANDOM_STUFF</p>
            </div>
        </p>

        <p>Result of random code (AJAX):</p>
        <div>
            <p class="generated-value">The generated value is: </p>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- It used th:src="@{/webjars/jquery/3.3.1/jquery.min.js}" but this file had different SRI than its equivalent on CDN,
         for more read: https://stackoverflow.com/questions/48820493/webjars-3-3-1-jquery-min-js-different-from-cdns-3-3-1-jquery-min-js-mismatchin -->
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"
            th:integrity='sha256-CIBz04B'
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            crossorigin="anonymous"></script>

    <!-- script>window.jQuery || document.write('script src="/webjars/jquery/3.3.1/jquery.min.js"\/script>')/script> -->
    <!-- script>window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"><\/script>')</script -->
    <!-- script th:text="window.jQuery || document.write('<script src=\\"https\\://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js\" integrity=\"sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=\" crossorigin=\"anonymous\"><\\/script>')" -->
    <!-- TODO: Rework this in Thymeleaf -->
    <script>window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"><\/script>')</script>

    <script th:src="@{/webjars/tether/1.4.3/dist/js/tether.min.js}"
            src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.3/js/tether.min.js"
            integrity="sha256-mIiWebTG82x+OcV3vUA49ffGDIAJ53uC9jflw5/+REs=" crossorigin="anonymous"></script>

    <!-- POPPER (PROBABLY NOT NEEDED FOR THIS WERBPAGE -->
    <script th:src="@{/webjars/popper.js/1.13.0/dist/umd/popper.min.js}"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script th:src="@{/webjars/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js}"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script th:src="@{js/ie10-viewport-bug-workaround.js}"></script>

    <!-- Non-bootstrap code
    ================================================== -->

    <!-- AJAX stuff -->
    <script th:src="@{/js/getrandom.js}"></script>

</body>
</html>
